<html lang="en" ng-app="VideohubSuggest.example">

<head>
  <title>videohub-client.js</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style>
    bulbs-autocomplete-suggest ul li {
      border: 1px solid #000;
      color: #000;
    }
    bulbs-autocomplete-suggest ul li.active {
      background-color: #00f;
      border: 1px solid #fff;
      color: #fff;
    }

    .section {
      margin-bottom: 15px;
    }
  </style>
</head>

<body>

  <div ng-controller="exampleController">
    <div class="section">
      <h1 ng-bind="{{ selectedSuggest.title }}"></h1>
      <b>Search (using default channel):</b>
      <videohub-suggest on-select="selectedSuggest = video"></videohub-suggest>
      <div ng-if="selectedSuggest">Selected: {{ selectedSuggest.id }} - {{ selectedSuggest.title }}</div>
    </div>

    <div class="section">
      <b>Pick (using default channel):</b>
      <videohub-video-picker on-select="onSelect(video)"></videohub-video-picker>
      <div ng-if="selectedVideo">Selected video: {{ selectedVideo.id }} - {{ selectedVideo.title }}</div>
    </div>

    <div class="section">
      <b>Pick (using ClickHole channel):</b>
      <videohub-video-picker on-select="onSelect(video)" channel="ClickHole"></videohub-video-picker>
      <div ng-if="selectedVideo">Selected video: {{ selectedVideo.id }} - {{ selectedVideo.title }}</div>
    </div>

    <div class="section">
      <b>No results:</b>
      <videohub-video-picker channel="Not a real channel"></videohub-video-picker>
    </div>

    <div class="section">
      <b>A video</b>: {{ aVideo.id }} - {{ aVideo.title }}
    </div>
  </div>

  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/restmod-style-drf-paged/restmod-style-drf-paged.js"></script>
  <script src="../bower_components/lodash/lodash.js"></script>
  <script src="../bower_components/bulbs-autocomplete/dist/bulbs-autocomplete.js"></script>
  <script src="../bower_components/angular-inflector/dist/angular-inflector.min.js"></script>
  <script src="../bower_components/angular-restmod/dist/angular-restmod-bundle.min.js"></script>
  <script src="../bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endbower-->
  <!-- injector:js -->
  <script src="/src/videohub-client/videohub-api-mocks.js"></script>
  <script src="/src/videohub-client/videohub-api.js"></script>
  <script src="/src/videohub-client/videohub-client.js"></script>
  <script src="/src/videohub-client/videohub-settings.js"></script>
  <script src="/src/videohub-client/videohub-suggest/videohub-picker-directive.js"></script>
  <script src="/src/videohub-client/videohub-suggest/videohub-suggest-directive.js"></script>
  <!-- endinjector -->

  <script>
    'use strict';

    angular.module('VideohubClient.settings')
      .value('VIDEOHUB_API_BASE_URL', 'http://poop.local/api/v0');

    angular.module('VideohubSuggest.example', [
      'VideohubClient',
      'VideohubClient.api.mocks'
    ])
      .run(function ($httpBackend) {
        $httpBackend.whenGET().passThrough();
      })
      .controller('exampleController', function($scope, Video) {
        $scope.selectedSuggest = null;
        $scope.selectedVideo = null;

        $scope.aVideo = Video.$find(1);

        $scope.onSelect = function (video) {
          $scope.selectedVideo = video;
        };
      });
  </script>
</body>

</html>
